@import 'styles/utils/mixins';

.options-list {
  &--single-select {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    row-gap: 12px;
  }

  &--single-select-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    row-gap: 12px;
  }

  &--multiple-select {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    row-gap: 12px;
    margin-bottom: 70px;
  }

  &--bubble-select {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 12px;
    row-gap: 12px;
    & > :nth-child(even) {
      margin-top: 10px;
    }
  }

  &__option {
    &--single-select {
      grid-column: 1 / -1;
    }
  }

  @include onTablet {
    &--bubble-select {
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
  }
}
