@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.custom-link {
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;

  &__button {
    @include defaultHover;
    width: 100%;
    background-color: $purple-accent;
    padding: 16px;
    border-radius: 50px;
    color: $primary-color;
    font-size: 17px;
    font-weight: 800;
    display: flex;
    justify-content: center;

    &--disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  @include onDesktop {
    position: relative;
  }
}
