@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.quiz-start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  &__img {
    max-height: 200px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: 26px;
    color: $primary-color;
  }

  &__description {
    font-size: 16px;
    color: $secondary-color;
  }

  &__questions-number {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
    color: $secondary-color;
    font-size: 16px;
  }

  @include onDesktop {
    &__title {
      font-size: 30px;
    }

    &__description {
      font-size: 18px;
    }

    &__questions-number {
      font-size: 18px;
    }
  }
}
