@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.single-select {
  @include smallHover;
  width: 100%;
  padding: 21px 20px;
  background-color: $card-bg;
  border-radius: 16px;

  &__content {
    font-size: 17px;
    font-weight: 600;
    color: $primary-color;
  }
}
