@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.quiz-loader {
  @include displayFlexColumnCenter;
  height: 100%;
  box-sizing: border-box;
  gap: 40px;
  margin-top: 20vh;

  &__title {
    font-size: 17px;
    font-weight: 700;
    color: $primary-color;
  }
}
