@import './mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 40px;

  @include onTablet {
    grid-template-columns: repeat(8, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }
}
