@import './vars';

@mixin onMiniTalet {
  @media (min-width: 310px) {
    @content;
  }
}

@mixin onPhone-M {
  @media (min-width: $phone-m-width) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin onTablet-L {
  @media (min-width: $tablet-l-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin defaultHover {
  @include onDesktop {
    transition: transform $transition-duration;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@mixin smallHover {
  @include onDesktop {
    transition: transform $transition-duration;
    &:hover {
      transform: scale(1.05);
    }
  }
}

@mixin displayFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin displayFlexColumnCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin text-ellipsis($maxHeight, $lines) {
  max-height: $maxHeight;
  line-clamp: $lines;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
