@import './vars';

@mixin onMiniTalet {
  @media (min-width: 310px) {
    @content;
  }
}

@mixin onPhone-M {
  @media (min-width: $phone-m-width) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin onTablet-L {
  @media (min-width: $tablet-l-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin defaultHover {
  transition: transform $transition-duration;
  &:hover {
    transform: scale(1.1);
  }
}

@mixin displayFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
