$phone-m-width: 450px;
$tablet-width: 640px;
$tablet-l-width: 768px;
$desktop-width: 1200px;

$header-height: 48px;
$header-desktop-height: 64px;

$transition-duration: 0.3s;

// colors
// $primary-color: var(--primary-color);
// $secondary-color: var(--secondary-color);
// $body-color: var(--body-color);
// $question-card-bg: var(--question-card-bg);
// $progress-bar-bg: var(--progress-bar-bg);

$primary-color: #ffffff;
$secondary-color: #c4c8cc;
$body-color: #1f002b;
$card-bg: #36173d;
$purple-accent: #e4229c;
$progress-bar-bg: #e8eaf2;
$checkbox-bg: #6d4376;
$red: red;
