@import 'styles/utils/mixins';
@import 'styles/utils/vars';

.quiz-results {
  @include displayFlexColumnCenter;
  gap: 50px;

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: $primary-color;
    margin-top: 45px;
    text-align: center;
  }

  &__subtitle {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: $primary-color;
  }

  &__success {
    width: 100px;
    height: 100px;
  }

  &__back {
    @include defaultHover;
    padding: 16px;
    border-radius: 50px;
    font-size: 17px;
    background-color: $purple-accent;
    color: $primary-color;
    display: flex;
    align-items: center;
    gap: 5px;

    &-icon {
      width: 30px;
      height: 30px;
    }
  }

  &__download {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 100px;

    &-icon {
      width: 42px;
      height: 42px;
    }

    &-text {
      font-size: 17px;
      font-weight: 600;
      color: $primary-color;
    }
  }

  @include onTablet {
    gap: 70px;

    &__success {
      width: 200px;
      height: 200px;
    }
  }

  @include onDesktop {
    margin-bottom: 50px;

    &__download {
      position: initial;
    }
  }
}
